/***************************************
***********	STYLE index.php ************
****************************************/
#presentation{
	margin:auto;
	padding:20px;
	width:60%;
	border:solid black 2px;
	border-radius:10px;
	background-color:#CED5D4;
}

#subscribe{

	text-align:center;
}

#subscribe input{
	font-size:20px;
	padding:10px;
	margin:0px 5px;
	color:green;
}

/***************************************
***********	STYLE login.php ************
****************************************/
#login{
	margin:auto;
	padding:15px;
	text-align:center;
	width:50%;
	border:solid black 2px;
	border-radius:10px;
	background-color:#CED5D4;
}

#login table{
	margin:auto;
}


/***************************************
******** STYLES Inscription ********
****************************************/
#FormulaireInscr{
	border:solid black 2px;
	border-radius:15px;
	padding : 20px;
	width:820px;
	margin:auto;
	text-align:center;
	font-size:16px;
	background-color:#CED5D4;
}

#FormulaireInscr fieldset{
	background-color:#E3E8F7;
}

#FormulaireInscr table{
	text-align:left;
}

#FormulaireInscr table label{
	margin-right:5px;
}

#FormulaireValidation{
	border:solid black 2px;
	border-radius:15px;
	padding : 20px;
	width:50%;
	margin:auto;
	text-align:center;
	font-size:16px;
	background-color:#C8FEC6;
}

#FormulaireValidation fieldset{
	background-color:#E3E8F7;
}


#FormulaireValidation input{
	background-color:#E3E8F7;
	font-size: 16px;
	color:#000000;
	text-align:center;
	border:0;
	font-family:Verdana,Tahoma,"DejaVu Sans",sans-serif;
}

#FormulaireValidation textarea{
	background-color:#E3E8F7;
	font-size: 16px;
	color:#000000;
	text-align:center;
	border:0;
	font-family:Verdana,Tahoma,"DejaVu Sans",sans-serif;
}

#tdMail{
	border-radius:10px;
	vertical-align: middle;
	padding:15px 15px;
}

small{
	color:red;
}

.invalid_field{
	color:#7D0F0F;
	font-size:12px;
	float:right;
	padding:4px;
	
}

/****************************************
***********	STYLES GENERAUX *************
*****************************************/
body{
	margin:5px;
	padding:0;
	font-family:'Yanone KaffeesatzVerdana',Tahoma,"DejaVu Sans",sans-serif;
}

#content{
	margin:50px;
	text-align:center;
}


/**************************************
*********** STYLE HEADER **************
***************************************/
#header{
    font-family: Verdana,Tahoma,"DejaVu Sans",sans-serif;
    color: #333333;
    font-size: 13px;
    line-height: 1.5em;
}

#header>h1{
	text-align:center;
}

#bandeNoire{
	-moz-box-sizing: border-box;
    background-color: #000000;
    border-bottom: 3px solid #AFCB51;
    height: 40px;
    overflow: visible;
    position: relative;
    z-index: 1000;
}

#bande_gauche{
	display:inline;
}


#bandeau{
	text-align:center;
}

#img_bandeau {
	width:995px;
	height:108px;
	margin:auto;
}


#footer{
	text-align:center;
}

.droite{
	float:right;
}

#footer{
	position:relative;
	font-style:italic;
}

.validate, .cancel {
	padding:10px;
	margin:0px 5px;
}
.validate {
	color:green;
}
.cancel {
	color:red;
}

.msg_0 {
	/* Message OK */
	background-color:#C7F2C6;
	background-image:url(ok.gif);
}
.msg_1 {
	/* Message ERREUR */
	background-color:#F2C6CA;
	background-image:url(error.gif);
}
.msg_2 {
	/* Message INFORMATION */
	background-color:#C6C7F2;
	background-image:url(info.gif);
}
.msg_0, .msg_1, .msg_2 {
	background-repeat:no-repeat;
	background-position:10px 50%;
	padding:10px 10px 10px 50px;
	margin:10px 0px;
	vertical-align:middle;
}
.largeInput input {
	width:100%;
}
#h_left {
    display: inline-block;
    height: 150px;
    vertical-align: top;
    width: 320px;
}
#hrefuniv {
    height: 70px;
    left: 227px;
    position: absolute;
    top: 60px;
    width: 100px;
    z-index: 200;
}

	
	
	
/*********************************************
***************** STYLE ADMIN ****************
**********************************************/	
#fiches>tbody>tr>td {
	vertical-align: top;
}

#divFichesTable{
	border:solid 4px rgba(0,0,0,0.8);
	border-radius:20px;
	padding:20px;
}

#FichesTable{
	border-collapse: collapse;
}

#FichesTable>thead>tr>td{
	border-bottom:solid 2px black;
	padding-bottom: 5px;
	font-weight:bold;
 	
}
#FichesTable thead tr td{
	vertical-align: middle;
}


#FichesTable > tbody > tr:nth-child(even)		{ background-color:white; }
#FichesTable > tbody > tr:nth-child(odd)		{ background-color:rgba(150,255,150,0.6) }


#FichesTable > tbody >.ligneFicheSelected{
	background-color:rgba(50,200,50,0.8) !important;
}
.ligneF{
	cursor: pointer;
}

#FichesTable tbody tr{    
		border-bottom: 3px solid rgba(50,50,50,0.5);
    -webkit-transition: color .6s ease-in;
    -moz-transition: color .6s ease-in;
    -o-transition: color .6s ease-in;
}

#FichesTable > tbody > tr:hover{
	background-color:lightblue;
	cursor: pointer;
}

#FichesTable tbody tr td{
	padding:5px;
}

#FichesTable tbody tr td img{
	width:19px;
	height:16px;
}



.ficheParticipant {
	border:solid 2px black;
	border-radius:10px;
	padding:15px;
	margin-left:20px;
}
.dev{
	display:none;
	width:
	margin:auto;
}




.flag{
	height : 20px;
}
#logoUE{
	height : 40px;
}

.tableLink{
	border-style:solid;
	border-collapse:collapse;
}
.tdLink{
	border-style:solid;
}

#fiche{
	width:100%
}

#FichesTable td:first-child(){
	width: 30%;
}
#FichesTable td:nth-child(2){
	width: 60%;
}
#FichesTable td:nth-child(3){
	width: 5%;
}
#FichesTable td:nth-child(4){
	width: 5%;
}




