



/***************************************
***********	STYLE login.php ************
****************************************/
#forms_login{
	margin:300px auto;
	text-align:center;
	width:65%;
	height:180px;
	border:solid black 2px;
	border-radius:10px;
	background-color:#CED5D4;
}


#forms_login .bloc { 
  margin:20px 30px; /* espacement horizontal des blocs */
  display:inline-block;
  vertical-align:middle;
}

#login{
	border-right:dotted 2px black;
	padding-right:40px;
}
#subscribe input{
	font-size:20px;
	padding:10px;
	margin:0px 5px;
	color:green;
}



/***************************************
***********	STYLES GENERAUX *************
****************************************/
body{
	margin:5px;
	padding:0;
}

#header{
	position:fixed;
	
	top:0px;
	left:0px;
	right:0px;
	margin:0px;
	padding:5px;
	padding-left:20px;
	height:30px;
	
	font-family:Verdana,Tahoma,"DejaVu Sans",sans-serif;
	color:#333333;
	font-size:13px;
	line-height:1.5em;
	
}

#header h1, #header h6{
	display:inline;
	text-align:center;

}

#header h3{
	display:inline;
}

#header a{
	display:inline;
	text-align:left;
}

#footer{
	text-align:center;
}

.droite{
	float:right;
}

#footer{
	position:relative;
	font-style:italic;
}

.validate, .cancel {
	padding:10px;
	margin:0px 5px;
}
.validate {
	color:green;
}
.cancel {
	color:red;
}

.msg_0 {
	/* Message OK */
	background-color:#C7F2C6;
	background-image:url(ok.gif);
}
.msg_1 {
	/* Message ERREUR */
	background-color:#F2C6CA;
	background-image:url(error.gif);
}
.msg_2 {
	/* Message INFORMATION */
	background-color:#C6C7F2;
	background-image:url(info.gif);
}
.msg_0, .msg_1, .msg_2 {
	background-repeat:no-repeat;
	background-position:10px 50%;
	padding:10px 10px 10px 50px;
	margin:10px 0px;
	vertical-align:middle;
}
.largeInput input {
	width:100%;
}
#h_left {
    display: inline-block;
    height: 150px;
    vertical-align: top;
    width: 320px;
}
#hrefuniv {
    height: 70px;
    left: 227px;
    position: absolute;
    top: 60px;
    width: 100px;
    z-index: 200;
}
#bandeNoire{
	height : 30px;
	background-color:black;
}
#bandeVerte{
	height : 4px;
	background-color:#5F7513;
}
#bande_gauche{
	display:inline;
}
#bande_milieu{
	display:inline;
	margin-left:20%;
}
#bande_droite{
	display:inline;
}
	

