



/***************************************
***********	STYLE login.php ************
****************************************/
#forms_login{
	margin:50px auto;
	text-align:center;
	float:none;
	width:50%;
	height:140px;
	text-align:center;
	border:solid black 2px;
	border-radius:10px;
	background-color:#CED5D4;
}

#login{
	float:left;
	border-right:dotted 2px black;
	margin:10px;
	padding-right:10px;
}


#subscribe input{
	font-size:20px;
	padding:10px;
	margin:0px 5px;
	color:green;
}



/***************************************
***********	STYLES GENERAUX *************
****************************************/
body{
	margin:5px;
	padding:0;
}

#header{
	position:fixed;
	background-color:black;
	
	top:0px;
	left:0px;
	right:0px;
	margin:0px;
	padding:5px;
	padding-left:20px;
	height:30px;
	
	font-family:Verdana,Tahoma,"DejaVu Sans",sans-serif;
	color:#333333;
	font-size:13px;
	line-height:1.5em;
	
}

#header h1, #header h6{
	display:inline;
	text-align:center;

}

#header h3{
	display:inline;
}

#header a{
	display:inline;
	text-align:left;
}

.droite{
	float:right;
}

#footer{
	position:relative;
	font-style:italic;
}

.validate, .cancel {
	padding:10px;
	margin:0px 5px;
}
.validate {
	color:green;
}
.cancel {
	color:red;
}

.msg_0 {
	/* Message OK */
	background-color:#C7F2C6;
	background-image:url(ok.gif);
}
.msg_1 {
	/* Message ERREUR */
	background-color:#F2C6CA;
	background-image:url(error.gif);
}
.msg_2 {
	/* Message INFORMATION */
	background-color:#C6C7F2;
	background-image:url(info.gif);
}
.msg_0, .msg_1, .msg_2 {
	background-repeat:no-repeat;
	background-position:10px 50%;
	padding:10px 10px 10px 50px;
	margin:10px 0px;
	vertical-align:middle;
}
.largeInput input {
	width:100%;
}

